.card {
  width: 90%;
  height: fit-content;
}
.card .card-img-top{
  height: 50vh;
}
.btn {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 105, 255, 1) 35%, rgba(0, 212, 255, 1) 100%);
  width: 100%;
  border: none;
}

.box{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
